body{
    background-color: black;
    color: white;
}
h3{
    font-style: italic;
}
section{
    font: Helvetica;
    font-size: 12px;
    text-align: justify;
}
footer{
    text-align: center;
}